.set-password {
  background-image: url('/slash.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 400px;
  background-color: #F2F2F2;

  .set-password-card {
    max-width: 350px !important;

    @include mobile {
      max-width: 90% !important;
    }
  }

  .set-password-container {
    @include super-extra {
      padding: 0 225px;
    }

    @include extra {
      padding: 0 128px;
    }

    @include large {
      padding: 0 64px;
    }

    @include desktop {
      padding: 0 32px;
    }

    @include tablet {
      padding: unset;
    }
  }

  .set-password-success-container {
    @include super-extra {
      padding: 0 225px;
    }

    @include extra {
      padding: 0 128px;
    }

    @include large {
      padding: 0 64px;
    }

    @include desktop {
      padding: 0 32px;
    }

    @include tablet {
      padding: unset;
    }
  }
}
